<style>
    .no-room{
        color: grey;
    }
</style>

{% for room in page_obj %}
                <div>
                    By - <a href="{% url 'user' room.host.id %}">{{room.host.username}}</a>
                    {% if request.user == room.host %}
                    <a href="{% url 'edit-room' room.id %}">Edit Room-</a>
                    <a href="{% url 'delete-room' room.id %}">-Delete </a>
                    {% endif %}
                    <h4>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h4>
                    <small>{{room.description}}</small>
                    <hr>
                </div>  
{% endfor %}

