*{
    background-color:rgb(61, 45, 45);
    color:antiquewhite;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
    border-radius: 10px;
}

.search-form {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

.search-form input[type="text"] {
    width: 100%;
    max-width: 400px; 
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-links {
    display: flex;
    gap: 15px; 
}

.header{
    text-align: center;
}